<html ng-app="fibonacciApp">
<head>
	<meta charset="UTF-8">
	<title>Angular-Challenge</title>
	<script src="lib/angular/angular.min.js"></script>

	<!-- angular files -->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

	<!-- jasmine testing framework -->
	<link rel="shortcut icon" type="image/png" href="lib/jasmine/jasmine-standalone-2.3.4/lib/jasmine-2.3.4/jasmine_favicon.png">
	<link rel="stylesheet" type="text/css" href="lib/jasmine/jasmine-standalone-2.3.4/lib/jasmine-2.3.4/jasmine.css">
	<script type="text/javascript" src="lib/jasmine/jasmine-standalone-2.3.4/lib/jasmine-2.3.4/jasmine.js"></script>
	<script type="text/javascript" src="lib/jasmine/jasmine-standalone-2.3.4/lib/jasmine-2.3.4/jasmine-html.js"></script>
	<script type="text/javascript" src="lib/jasmine/jasmine-standalone-2.3.4/lib/jasmine-2.3.4/boot.js"></script>

	<!-- include test file -->
	<script src="lib/jasmine/jasmine-standalone-2.3.4/spec/challengeSpec.js"></script>

</head>
<body>
	<div ng-controller="pageController">
		<h4>Recursive Fibonacci</h4>
		{{finalValueRecursive}} <button ng-click="pushButtonRecursive()">Recursive</button>
		<h4>Iterative Fibonacci</h4>
		{{finalValueIterative}} <button ng-click="pushButtonIterative()">Iterative</button>
	</div>
	</br>
</body>
</html>